.heading{
    text-align:center;
}
.labelStyle{
    display:flex;
    justify-content: center;
}
.pStyle{
     text-align: center;
}
.space{
    margin-right:10px;
    font-size: 20px;
}
.inputStyle{
    height:30px;
    font-size:20px;
    border-radius:10px;
    
}
.ButtonStyle{
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}
.btn{
    height:40px;    
    background-color: indigo;
    cursor: pointer;
    color:white;
}